#root {
  max-width: 1280px;
  margin: 0;
  
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.container {
  background-image: url('./assets/img/RealMAdridregister-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flexbox;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.cardForm {
  background-color: #023b52;
  height: 21.875rem;
  width: 21.875rem;
  padding: 2em;
  border-radius: 5px;
  border-color: #FFC700;
  text-align: right;
  

}

.smlogo1 {

  height: 5.3125rem;
  width: 16.3267rem;
  padding: 1.5em;
}


